@background: #2a2a2b;
@content: #212122;

@colors: {
    red: @red;
    orange: @orange;
    yellow: @yellow;
    green: @green;
    cyan: @cyan;
    blue: @blue;
    violet: @violet;
}

@red:       #f04f43;
@orange:    #ff9800;
@yellow:    #ffc757;
@green:     #58b15b;
@cyan:      #00bcd4;
@blue:      #1499ef;
@violet:    #673ab7;

@item-color-base:       #383838;
@item-color-hover:      #444444;
@item-color-disabled:   #2f2f2f;

@text-color-base:       #fff;
@text-color-disabled:   #bab9b9;

@border-radius-base: 6px;

@height-small:      36px;
@height-base:       40px;
@height-large:      46px;

@font-small:    12px;
@font-base:     14px;
@font-large:    16px;

@font-size-small:   12px;
@font-size-base:    14px;
@font-size-large:   16px;

@padding-width-base:    8px;
@padding-height-base:   12px;

@font-family: 'SF Pro Display', sans-serif;

@screen-phone:        480px;
@screen-desktop:      992px;
@screen-lg-desktop:   1200px;